#createBtn {
    -fx-background-image: url('/images/toolbar/create.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#searchBtn {
    -fx-background-image: url('/images/toolbar/search.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#uploadBtn {
    -fx-background-image: url('/images/toolbar/upload.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#languageBtn {
    -fx-background-image: url('/images/toolbar/change_lang.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#newBtn {
    -fx-background-image: url('/images/toolbar/new.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#saveBtn {
    -fx-background-image: url('/images/toolbar/save.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#addFolderBtn {
    -fx-background-image: url('/images/toolbar/add_recipes_folder.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#refreshBtn {
    -fx-background-image: url('/images/toolbar/refresh.png');
    -fx-background-size: 30 30;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}